
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              
              <ul class="nav flex-column">
                <li class="nav-item pointer" *ngFor="let o of initialOptions">
                  <a class="nav-link" (click)="doSearch(o.id, true)">{{o.title}}</a>
                </li>
              </ul>

              
            <app-topic-search-panel
              [topicConfig]="topicConfig"
              [loading]="loading"
              (isLoading)="topicSearchLoading($event)">
            </app-topic-search-panel>
          
            </div>



          </nav>
  
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  
  
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">Results</h1>
            </div>

            <div class="row">
              <div class="col-sm-12" *ngFor="let r of endecaRecordsUser">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{r['global_title']}}</h5>
                    <p class="card-text">{{r['countryA']}}</p>
                    <p class="card-text">{{r['citation']}}</p>
                  </div>
                </div>
                <br>
              </div>
              
              <div class="col-sm-12 d-flex justify-content-between" *ngIf="endecaRecordsUser.length > 0">
                <button class="btn btn-primary"  (click)="previous()" disabled="{{offset == 0? 'disabled': '' }}">Previous</button>
                <span>{{offset + 1}} to {{offset + 10}}</span>
                <button class="btn btn-primary"  (click)="next()">Next</button>
              </div>

              <div class="col-sm-12 d-flex justify-content-between" *ngIf="endecaRecordsUser.length == 0 && dirty">
                  Loading...
              </div>
            </div>
  
          </main>
          